section.about
	.about__padding
		.container
			h2.about__title about us
				span.about__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo tellus. Praesent nec vehicula ligula, non laoreet ligula. Maecenas at massa eget orci porttitor semper. Sed lobortis magna in faucibus commodo. Ut purus odio, gravida sit amet laoreet at, dictum et urna. Sed egestas mauris tellus, vitae facilisis nisi pretium imperdiet. Donec dapibus mi a mauris rhoncus, a vehicula nibh porttitor.