section.featuredwork
	.container.featuredwork__container
		h2.featuredwork__title featured works
		.featuredwork__slider
			.featuredwork__img
				.featuredwork__img_imac
					.featuredwork__slider_imac
						.js-slick__featuredwork
							img(src="static/img/content/slider-imac.png" alt="slider-imac").featuredwork__slider_img
							img(src="static/img/content/slider-imac.png" alt="slider-imac").featuredwork__slider_img
					.featuredwork__iphone_position
						.featuredwork__img_iphone
							.featuredwork__slider_iphone
								.js-slick__featuredwork
									img(src="static/img/content/slider-iphone.png" alt="slider-imac").featuredwork__slider_img
									img(src="static/img/content/slider-iphone.png" alt="slider-imac").featuredwork__slider_img
		a(href="javascript:void(0);").featuredwork__link.link__btn see all works