footer.footer
	.container.footer__container
		nav.footer__nav
			a(href="#about").nav__item.footer__item.footer__link about us
			a(href="javascript:void(0);").nav__item.footer__item.footer__link work
			a(href="#services").nav__item.footer__item.footer__link services
			a(href="javascript:void(0);").nav__item.footer__item.footer__link blog
			a(href="javascript:void(0);").nav__item.footer__item.footer__link careers
			a(href="contact.html").nav__item.footer__item.footer__link contact
		.footer__contacts
			a(href="mailto:info@domain.com").footer__email.footer__link email: 
				spa.footer__email_transform info@domain.com
			a(href="tel:1234567890").footer__phone.footer__link St. Louis:   (123)  456  7890