#header
	header.header
		.container.header__container
			a(href="#header").logo . one
				span.logo__regular Town
			a.header__btn-menu
			nav.header__nav.nav
				a(href="#about").nav__item.header__item about us
				a(href="portfolio.html").nav__item.header__item work
				a(href="#services").nav__item.header__item services
				a(href="javascript:void(0);").nav__item.header__item blog
				a(href="javascript:void(0);").nav__item.header__item careers
				a(href="contact.html").nav__item.header__item contact
