#header
	header.header
		.container.header__container
			a(href="#header").scroll-link.logo . one
				span.logo__regular Town
			a.header__btn-menu
			nav.header__nav.nav
				a(href="#about").scroll-link.nav__item.header__item about us
				a(href="javascript:void(0);").scroll-link.nav__item.header__item work
				a(href="#services").scroll-link.nav__item.header__item services
				a(href="#testimonials").scroll-link.nav__item.header__item blog
				a(href="javascript:void(0);").scroll-link.nav__item.header__item careers
				a(href="contact.html").scroll-link.nav__item.header__item contact
