header.header#header
	.container.header__container
		a(href="#header").scroll-link.header__logo . one
			span.header__logo_regular Town
		nav.header__nav
			a(href="javascript:void(0);").scroll-link.header__item about us
			a(href="javascript:void(0);").scroll-link.header__item work
			a(href="javascript:void(0);").scroll-link.header__item services
			a(href="javascript:void(0);").scroll-link.header__item blog
			a(href="javascript:void(0);").scroll-link.header__item careers
			a(href="javascript:void(0);").scroll-link.header__item contact
