section.subscribe
	.container.subscribe__container
		h2.subscribe__title subscribe to our newsletter
		form(action="#" method="post").subscribe__form
			input(type="email" name="useremail" placeholder="Enter Your Email Address").subscribe__input
			input(type="submit" value="submit").subscribe__input.subscribe__input_btn
		span.logo.subscribe__logo . one
			span.logo__regular Town
		.subscribe__social
			a(href="javascript:void(0);").subscribe__link.subscribe__link_twitter
			a(href="javascript:void(0);").subscribe__link.subscribe__link_facebook
			a(href="javascript:void(0);").subscribe__link.subscribe__link_pinterest
			a(href="javascript:void(0);").subscribe__link.subscribe__link_linkedin
			a(href="javascript:void(0);").subscribe__link.subscribe__link_skype