section.top-banner
	.top-banner__slider
		.container
			.top-banner__arrow.top-banner__arrow_prev
			.top-banner__arrow.top-banner__arrow_next
		.js-slick__top-banner
			.top-banner__slider-block
				.container.top-banner__container
					.top-banner__block
						span.top-banner__title
					.top-banner__block
						span.top-banner__text
						a(href="javascript:void(0);").top-banner__link
			.top-banner__slider-block
				.container.top-banner__container
					.top-banner__block
						span.top-banner__title
					.top-banner__block
						span.top-banner__text
						a(href="javascript:void(0);").top-banner__link