section.welcome.main-container
	.welcome__flexbox
		.welcome__content.welcome__content_img
			img(src="static/img/general/welcome.jpg" alt="welcome").welcome__img
		.welcome__content.welcome__content_text
			h2.welcome__title Proin sodales eu massa vitae porta
			span.welcome__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo tellus. Praesent nec vehicula ligula, non laoreet ligula. Maecenas at massa eget orci porttitor semper. Sed lobortis magna in faucibus commodo. Ut purus odio, gravida sit amet laoreet at, dictum et urna. Sed egestas mauris tellus, vitae facilisis nisi pretium imperdiet. Donec dapibus mi a mauris rhoncus, a vehicula nibh porttitor. Duis nisl magna, sodales vel felis eu, luctus facilisis nibh. Mauris placerat viverra lectus at ornare. Maecenas malesuada egestas consequat. Donec et aliquam eros. Sed pulvinar nunc quis tristique condimentum. Sed nec metus lorem.
			a(href="javascript:void(0);").welcome__link.link__btn read more