extends ../layout/main

block title
	| Contact

block content
	include ../modules/header-2
	include ../modules/contactus
	include ../modules/map
	include ../modules/subscribe
	
block footer
	include ../modules/footer-2