extends ../layout/main

block title
	| Main page

block content
	include ../modules/top-banner
	include ../modules/welcome
	include ../modules/featuredwork
	include ../modules/services
	include ../modules/about