html {
	line-height: 1;
	font-size: 16px;
}

body {
	font-family: $mainFont;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	position: relative;
	margin-bottom: 100px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 50px;
		background: $bgTitleLine;
		position: absolute;
		left: 50%;
		bottom: -44px;
		transform: translateX(-50%);
	}
}

ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

a {
    text-decoration: none;
	font-family: $fontBold;
	text-transform: uppercase;
	color: $colorLinkWhite;
	&:hover,
	&:focus,
	&:visited {
		color: $colorTitleWhite;
	}
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.hide {
	display: none;
}

.show {
	display: block;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

*::-webkit-input-placeholder {
	opacity: 1;
}
*:-moz-placeholder {
	opacity: 1;
}  
*::-moz-placeholder {
	opacity: 1;
}
*:-ms-input-placeholder {
	opacity: 1;
}

.link__btn {
	display: block;
	margin: 0 auto;
	letter-spacing: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	width: 230px;
	height: 50px;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	padding: 17px;
}