html {
	line-height: 1;
	font-size: 16px;
}

body {
	font-family: $mainFont;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	position: relative;
	margin-bottom: 100px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 50px;
		background: $bgTitleLine;
		position: absolute;
		left: 50%;
		bottom: -44px;
		transform: translateX(-50%);
	}
}

ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

a {
	cursor: pointer;
    text-decoration: none;
	font-family: $fontBold;
	text-transform: uppercase;
	color: $colorLinkWhite;
	&:hover,
	&:focus,
	&:visited {
		color: $colorTitleWhite;
	}
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.container {
	width: 100%;
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

*::-webkit-input-placeholder {
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1.624rem;
	font-weight: 400;
	line-height: 1.385;
	text-align: center;
	opacity: 1;
	font-family: $mainFont;
}
*:-moz-placeholder {
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1.624rem;
	font-weight: 400;
	line-height: 1.385;
	text-align: center;
	opacity: 1;
	font-family: $mainFont;
}  
*::-moz-placeholder {
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1.624rem;
	font-weight: 400;
	line-height: 1.385;
	text-align: center;
	opacity: 1;
	font-family: $mainFont;
}
*:-ms-input-placeholder {
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1.624rem;
	font-weight: 400;
	line-height: 1.385;
	text-align: center;
	opacity: 1;
	font-family: $mainFont;
}

.logo {
	font-size: 1.875rem;
	font-weight: 900;
	color: $colorLinkWhite;
	text-transform: uppercase;
	font-family: $fontBold;
	&__regular {
		font-family: $mainFont;
		font-weight: 400;
	}
}

.nav {
	font-size: 0.938rem;
	font-weight: 700;
	&.active {
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0px;
		left: 0;
		top: 50px;
		padding: 10px 30px;
		width: 100%;
		background: $bgHeader;
	}
	&__item {
		margin: 0 16px;
		position: relative;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
		}
		&:after {
			content: '/';
			display: block;
			position: absolute;
			top: 0;
			right: -20px;
		}
		&.active {
			color: #989795;
			&:after {
				color: $colorLinkWhite;
			}
		}
	}
}

.link__btn {
	display: block;
	margin: 0 auto;
	letter-spacing: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	width: 230px;
	height: 50px;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	padding: 17px;
	background: transparent;
	text-transform: uppercase;
	color: $colorLinkGrey;
	border-color: $bgBorderLinkGrey;
	&:hover,
	&:focus,
	&:visited {
		color: $colorLinkGrey;
	}
}