/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1920px) {
	.welcome {
		&__content {
			&_text {
				padding: 100px 118px;
			}
		}
	}
}

@media only screen and (max-width : 1750px) {
	.top-banner {
		&__arrow {
			&_prev {
				left: -70px;
			}
			&_next {
				right: -70px
			}
		}
	}
}

@media only screen and (max-width : 1620px) {
	.welcome {
		&__content {
			&_text {
				padding: 50px 50px;
			}
		}
	}
}

@media only screen and (max-width : 1500px) {
	.top-banner {
		&__block-arrows {
			display: none;
		}
	}
}
@media only screen and (max-width : 1460px) {
	.welcome {
		&__flexbox {
			flex-direction: column;
		}
		&__content {
			width: 100%;
			&_text {
				padding: 50px 50px;
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-banner {
		&__slider {
			&_bg {
				background: url(../img/content/banner-mini.jpg) no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}