$s-about__icon_dribbble: 369px 219px -369px -219px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_dribbble_hover: 445px 319px -445px -319px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_google: 520px 276px -520px -276px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_google_hover: 484px 319px -484px -319px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_skype: 481px 276px -481px -276px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_skype_hover: 330px 219px -330px -219px 24px 24px 545px 375px 'sprite.png';
$s-about__icon_twitter: 196px 236px -196px -236px 24px 19px 545px 375px 'sprite.png';
$s-about__icon_twitter_hover: 235px 236px -235px -236px 24px 19px 545px 375px 'sprite.png';
$s-arrow_next: 523px 319px -523px -319px 11px 20px 545px 375px 'sprite.png';
$s-arrow_prev: 531px 233px -531px -233px 11px 20px 545px 375px 'sprite.png';
$s-header_menu: 445px 186px -445px -186px 32px 32px 545px 375px 'sprite.png';
$s-services_brand: 115px 286px -115px -286px 100px 80px 545px 375px 'sprite.png';
$s-services_brand_white: 230px 286px -230px -286px 100px 80px 545px 375px 'sprite.png';
$s-services_graphic: 330px 115px -330px -115px 100px 89px 545px 375px 'sprite.png';
$s-services_graphic_white: 0px 286px 0px -286px 100px 89px 545px 375px 'sprite.png';
$s-services_identity: 330px 0px -330px 0px 100px 100px 545px 375px 'sprite.png';
$s-services_identity_white: 196px 121px -196px -121px 100px 100px 545px 375px 'sprite.png';
$s-services_mobile: 98px 121px -98px -121px 83px 150px 545px 375px 'sprite.png';
$s-services_mobile_white: 0px 121px 0px -121px 83px 150px 545px 375px 'sprite.png';
$s-services_motion: 445px 0px -445px 0px 100px 78px 545px 375px 'sprite.png';
$s-services_motion_white: 445px 93px -445px -93px 100px 78px 545px 375px 'sprite.png';
$s-services_web: 165px 0px -165px 0px 150px 106px 545px 375px 'sprite.png';
$s-services_web_white: 0px 0px 0px 0px 150px 106px 545px 375px 'sprite.png';
$s-subscribe_icon_facebook: 345px 286px -345px -286px 13px 28px 545px 375px 'sprite.png';
$s-subscribe_icon_linkedin: 445px 233px -445px -233px 28px 28px 545px 375px 'sprite.png';
$s-subscribe_icon_pinterest: 445px 276px -445px -276px 21px 28px 545px 375px 'sprite.png';
$s-subscribe_icon_skype: 492px 186px -492px -186px 28px 28px 545px 375px 'sprite.png';
$s-subscribe_icon_twitter: 488px 233px -488px -233px 28px 22px 545px 375px 'sprite.png';
