$s-about__icon_dribbble: 384px 325px -384px -325px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_dribbble_hover: 384px 286px -384px -286px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_google: 0px 390px 0px -390px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_google_hover: 39px 390px -39px -390px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_skype: 345px 286px -345px -286px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_skype_hover: 345px 325px -345px -325px 24px 24px 545px 457px 'sprite.png';
$s-about__icon_twitter: 157px 390px -157px -390px 24px 19px 545px 457px 'sprite.png';
$s-about__icon_twitter_hover: 118px 390px -118px -390px 24px 19px 545px 457px 'sprite.png';
$s-arrow_next: 416px 219px -416px -219px 11px 20px 545px 457px 'sprite.png';
$s-arrow_prev: 531px 319px -531px -319px 11px 20px 545px 457px 'sprite.png';
$s-contact_icon_facebook: 531px 276px -531px -276px 13px 28px 545px 457px 'sprite.png';
$s-contact_icon_facebook_hover: 531px 233px -531px -233px 13px 28px 545px 457px 'sprite.png';
$s-contact_icon_linkedin: 492px 186px -492px -186px 28px 28px 545px 457px 'sprite.png';
$s-contact_icon_linkedin_hover: 445px 233px -445px -233px 28px 28px 545px 457px 'sprite.png';
$s-contact_icon_pinterest: 232px 236px -232px -236px 21px 28px 545px 457px 'sprite.png';
$s-contact_icon_pinterest_hover: 196px 236px -196px -236px 21px 28px 545px 457px 'sprite.png';
$s-contact_icon_skype: 488px 276px -488px -276px 28px 28px 545px 457px 'sprite.png';
$s-contact_icon_skype_hover: 445px 276px -445px -276px 28px 28px 545px 457px 'sprite.png';
$s-contact_icon_twitter: 330px 219px -330px -219px 28px 22px 545px 457px 'sprite.png';
$s-contact_icon_twitter_hover: 488px 319px -488px -319px 28px 22px 545px 457px 'sprite.png';
$s-form_checkbox_no: 196px 390px -196px -390px 18px 17px 545px 457px 'sprite.png';
$s-form_checkbox_yes: 78px 390px -78px -390px 25px 19px 545px 457px 'sprite.png';
$s-header_menu: 445px 186px -445px -186px 32px 32px 545px 457px 'sprite.png';
$s-services_brand: 115px 286px -115px -286px 100px 80px 545px 457px 'sprite.png';
$s-services_brand_white: 230px 286px -230px -286px 100px 80px 545px 457px 'sprite.png';
$s-services_graphic: 0px 286px 0px -286px 100px 89px 545px 457px 'sprite.png';
$s-services_graphic_white: 330px 115px -330px -115px 100px 89px 545px 457px 'sprite.png';
$s-services_identity: 196px 121px -196px -121px 100px 100px 545px 457px 'sprite.png';
$s-services_identity_white: 330px 0px -330px 0px 100px 100px 545px 457px 'sprite.png';
$s-services_mobile: 98px 121px -98px -121px 83px 150px 545px 457px 'sprite.png';
$s-services_mobile_white: 0px 121px 0px -121px 83px 150px 545px 457px 'sprite.png';
$s-services_motion: 445px 93px -445px -93px 100px 78px 545px 457px 'sprite.png';
$s-services_motion_white: 445px 0px -445px 0px 100px 78px 545px 457px 'sprite.png';
$s-services_web: 165px 0px -165px 0px 150px 106px 545px 457px 'sprite.png';
$s-services_web_white: 0px 0px 0px 0px 150px 106px 545px 457px 'sprite.png';
$s-subscribe_icon_facebook: 0px 429px 0px -429px 13px 28px 545px 457px 'sprite.png';
$s-subscribe_icon_linkedin: 488px 233px -488px -233px 28px 28px 545px 457px 'sprite.png';
$s-subscribe_icon_pinterest: 268px 236px -268px -236px 21px 28px 545px 457px 'sprite.png';
$s-subscribe_icon_skype: 445px 319px -445px -319px 28px 28px 545px 457px 'sprite.png';
$s-subscribe_icon_twitter: 373px 219px -373px -219px 28px 22px 545px 457px 'sprite.png';
