$s-services_browser: 0px 0px 0px 0px 150px 106px 380px 271px 'sprite.png';
$s-services_megaphone: 280px 0px -280px 0px 100px 80px 380px 271px 'sprite.png';
$s-services_mobile: 0px 121px 0px -121px 83px 150px 380px 271px 'sprite.png';
$s-services_movie: 280px 95px -280px -95px 100px 78px 380px 271px 'sprite.png';
$s-services_paint-brush: 165px 115px -165px -115px 100px 89px 380px 271px 'sprite.png';
$s-services_pen: 165px 0px -165px 0px 100px 100px 380px 271px 'sprite.png';
$s-top-banner_arrow_next: 280px 188px -280px -188px 11px 20px 380px 271px 'sprite.png';
$s-top-banner_arrow_prev: 306px 188px -306px -188px 11px 20px 380px 271px 'sprite.png';
