// FONTS
$mainFont: "LatoRegular", sans-serif;
$fontBold: "LatoBold", sans-serif;

// COLOR
$colorTitleDark: #3c2839;
$colorTitleWhite: rgb(255, 255, 255);
$colorTitleGrey: #626262;

$colorLinkWhite: rgb(255, 255, 255);
$colorLinkGrey: #626262;
$colorLinkFooter: rgba(255, 255, 255, 0.5);
$colorLinkActive: rgba(255, 255, 255, 0.5);

$colorTextWhite: rgb(255, 255, 255);
$colorTextGrey: #626262;

$colorFooter: rgba(255, 255, 255, 0.5);

$colorPlaceholder: #999;

// BG
$bgTitleLine: #626262;
$bgTitleLineWhite: #fff;

$bgFeaturedwork: rgba(230, 230, 230, 0.5);

$bgHeader: #373c44;
$bgHeaderLinkHover: #1f242a;

$bgTopBannerArrows: #fff;

$bgBorderLink: rgb(255, 255, 255);
$bgBorderLinkGrey: #626262;

$bgDots: #aeaeae;

$bgServicesMobile: #00c59e;
$bgServicesWeb: #df4343;
$bgServicesIdentity: #64b341;
$bgServicesBrand: #874ab6;
$bgServicesGraphic: #ffa200;
$bgServicesMotion: #2f84e5;
$bgServicesMain: #eaeaea;

$bgBorderAbout: #fff;

$bgSubscribe: #2a63c1;
$bgSubscribeSubmit: #1a4a94;

$bgFooter: #373c44;

$bgBorderLinkContact: #c10606;