// FONTS
$mainFont: "LatoRegular", sans-serif;
$fontBold: "LatoBold", sans-serif;

// COLOR
$colorTitleDark: #3c2839;
$colorTitleWhite: rgb(255, 255, 255);
$colorTitleGrey: #626262;

$colorLinkWhite: rgb(255, 255, 255);
$colorLinkGrey: #626262;
$colorLinkFooter: rgba(255, 255, 255, 0.5);
$colorLinkActive: rgba(255, 255, 255, 0.5);

$colorTextWhite: rgb(255, 255, 255);
$colorTextGrey: #626262;

// BG
$bgTitleLine: #626262;
$bgFeaturedwork: rgba(230, 230, 230, 0.5);

$bgHeader: #373c44;

$bgTopBannerArrows: #fff;

$bgBorderLink: rgb(255, 255, 255);
$bgBorderLinkGrey: #626262;