// Подключаем стили библиотек
@import '_libs';

// Подключаем переменные
@import '_vars';

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
 @import '_sprite';

// Подключаем миксины
@import '_mixins';

// Подключаем функции
@import '_fun';

// Общие стили
@import '_common_styles';

// Стили шапки
@import 'modules/_header';

// Стили главной страницы
@import 'page/_index';

// Вверхний баннер слайдер
@import 'modules/_top-banner';

// Welcome 
@import 'modules/_welcome';

// featured work
@import 'modules/_featuredwork';

// our services
@import 'modules/_services';

// about us
@import 'modules/_about';

// Стили футера
@import 'modules/_footer';

// Стили медиазапросов
@import '_media';