// Подключаем стили библиотек
@import '_libs';

// Подключаем переменные
@import '_vars';

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
 @import '_sprite';

// Подключаем миксины
@import '_mixins';

// Подключаем функции
@import '_fun';

// Общие стили
@import '_common_styles';

// Стили шапки
@import 'modules/_header';

// Стили главной страницы
@import 'page/_index';

@import 'modules/_top-banner';

@import 'modules/_welcome';

@import 'modules/_featuredwork';

@import 'modules/_services';

@import 'modules/_about';

@import 'modules/_testimonials';

@import 'modules/_contactus';

@import 'modules/_map';

@import 'modules/_works';

@import 'modules/_subscribe';

// Стили футера
@import 'modules/_footer';

// Стили медиазапросов
@import '_media';