.contactus {
	padding: 241px 0 120px;
	&__title {
		color: $colorTitleDark;
	}
	&__flexbox {
		display: flex;
		justify-content: space-between;
	}
	&__block {
		max-width: 660px;
		width: 100%;
		&_info {
			max-width: 550px;
			width: 100%;
			padding-left: 30px;
		}
		&_title {
			color: $colorTitleGrey;
			font-size: 1.563rem;
			font-weight: 700;
			margin-bottom: 15px;
		}
	}
	
	&__form {
		&_inputbox {
			margin-bottom: 98px;
		}
		&_input {
			border: 0;
			border-bottom: 1px solid #eaeaea;
			width: 100%;
			height: 60px;
			padding: 22px 26px;
			font-family: $fontBold;
			color: $colorPlaceholder;
			font-size: 0.938rem;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			&_mb {
				margin-bottom: 71px;
			}
			&_range {
				color:  #bd7d0c;
				font-family: $fontBold;
				font-size: 0.938rem;
				font-weight: 700;
				border: 0;
				text-align: right;
				text-transform: uppercase;
			}
			&:focus {
				background: #eaeaea;
				box-shadow: 0px 2px 0px 0px #eaeaea;
			}
			&::-webkit-input-placeholder {
				color: $colorPlaceholder;
				font-size: 0.938rem;
				font-weight: 700;
				line-height: 1;
				text-align: left;
				opacity: 1;
				font-family: $fontBold;
				text-transform: uppercase;
			}
			&:-moz-placeholder {
				color: $colorPlaceholder;
				font-size: 0.938rem;/* Приближение из-за подстановки шрифтов */
				font-weight: 700;
				line-height: 1;
				text-align: left;
				opacity: 1;
				font-family: $fontBold;
				text-transform: uppercase;
			}
			&::-moz-placeholder {
				color: $colorPlaceholder;
				font-size: 0.938rem;
				font-weight: 700;
				line-height: 1;
				text-align: left;
				opacity: 1;
				font-family: $fontBold;
				text-transform: uppercase;
			}
			&:-ms-input-placeholder {
				color: $colorPlaceholder;
				font-size: 0.938rem;
				font-weight: 700;
				line-height: 1;
				text-align: left;
				opacity: 1;
				font-family: $fontBold;
				text-transform: uppercase;
			}
		}
		&_rangebox {
			margin-bottom: 43px;
		}
		&_flexbox {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 51px;
			align-items: center;
		}
		&_title {
			margin-bottom: 0;
		}
		&_checkbox {
			margin-bottom: 50px;
		}
		&_textarea {
			@extend .contactus__form_input;
			width: 660px;
			height: 230px;
			background: #eaeaea;
			box-shadow: 0px 2px 0px 0px #eaeaea;
		}
		&_submit {
			cursor: pointer;
			margin: 0;
		}
	}
	&__rangebox {
		margin-bottom: 80px;
	}
	&__checkbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 60px;
		&:last-child {
			margin-bottom: 0;
		}
		&_title {
			margin-bottom: 39px;
		}
		&_wrap {
			width: 170px;	
		}
		&_input {
//			для IE8
			vertical-align: top;
			margin: 0 3px 0 0;
			width: 17px;
			height: 17px;
			& + .contactus__checkbox_label {
				cursor: pointer;
			}
			&:not(checked) {
			/* Прячем оригинальный чекбокс. */
			  position: absolute;
			  opacity: 0;
			}
			&:not(checked) + .contactus__checkbox_label {
			  position: relative; /* будем позиционировать псевдочекбокс относительно label */
			  padding-left: 49px; /* оставляем слева от label место под псевдочекбокс */
				&:before {
					content: '';
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					left: 0;
					width: 40px;
					height: 40px;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 12px;
					@include sprite($s-form_checkbox_no);
				}
			}
			&:not(checked) + .contactus__checkbox_label {
				&_mobile {
					&:before {
						background: $bgServicesMobile;
					}
				}
				&_web {
					&:before {
						background: $bgServicesWeb;
					}
				}
				&_identity {
					&:before {
						background: $bgServicesIdentity;
					}
				}
				&_brand {
					&:before {
						background: $bgServicesBrand;
					}
				}
				&_graphic {
					&:before {
						background: $bgServicesGraphic;
					}
				}
				&_motion {
					&:before {
						background: $bgServicesMotion;
					}
				}
			}
			&:checked + .contactus__checkbox_label {
				&:after {
					top: 50%;
					transform: translateY(-50%);
					left: 8px;
					@include sprite($s-form_checkbox_yes);
				}
			}
		}
		&_label {
			font-family: $fontBold;
			font-size: 0.938rem;
			font-weight: 700;
			color: $colorTextGrey;
			word-wrap: break-word;
			display: inline-block;
		}
	}
	
	&__address {
		color: $colorTextGrey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.875;
		margin-bottom: 25px;
		&_companyname {
			font-family: $fontBold;
			font-weight: 700;
			text-transform: uppercase;
		}
		&_text {
			display: block;
		}
	}
	&__info {
		&_contact {
			@extend .contactus__address;
			display: block;
			text-transform: none;
			font-family: $mainFont;
			margin: 0;
			&:hover,
			&:focus,
			&:visited {
				color: $colorLinkGrey;
			}
		}
		&_social {
			margin: 65px 0 75px;
		}
		&_link {
			border: 1px solid transparent;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			position: relative;
			display: inline-block;
			&:hover {
				border: 1px solid $bgBorderLinkContact;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&_twitter {
				&:after {
					@include sprite($s-contact_icon_twitter);
				}
				&:hover {
					&:after {
						@include sprite($s-contact_icon_twitter_hover);
					}
				}
			}
			&_facebook {
				&:after {
					@include sprite($s-contact_icon_facebook);
				}
				&:hover {
					&:after {
						@include sprite($s-contact_icon_facebook_hover);
					}
				}
			}
			&_pinterest {
				&:after {
					@include sprite($s-contact_icon_pinterest);
				}
				&:hover {
					&:after {
						@include sprite($s-contact_icon_pinterest_hover);
					}
				}
			}
			&_linkedin {
				&:after {
					@include sprite($s-contact_icon_linkedin);
				}
				&:hover {
					&:after {
						@include sprite($s-contact_icon_linkedin_hover);
					}
				}
			}
			&_skype {
				&:after {
					@include sprite($s-contact_icon_skype);
				}
				&:hover {
					&:after {
						@include sprite($s-contact_icon_skype_hover);
					}
				}
			}
		}
		&_img {
			width: 100%;
			height: auto;
		}
	}
}


.contactus__form {
	.ui-widget.ui-widget-content {
		height: 6px;
		border: 0;
		background: #eaeaea;
		cursor: pointer;
	}
	.ui-slider .ui-slider-range {
		background: #373c44;
	}
	.ui-state-default, .ui-widget-content .ui-state-default {
		background: #373c44;
		border: 0;
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}
	.ui-slider-horizontal .ui-slider-handle {
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
}