.featuredwork {
	padding: 112px 0 90px;
	background: $bgFeaturedwork;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		color: $colorTitleDark;
		margin-bottom: 160px;
	}
	&__slider {
		width: 100%;
		margin-bottom: 72px;
		&_img {
			width: 100%;
			height: auto;
		}
		&_imac {
			position: absolute;
			top: 41px;
			left: 43px;
			width: 922px;
		}
		&_iphone {
			position: absolute;
			top: 57px;
			left: 17px;
			width: 154px;
			.slick-dots {
				display: none !important;
			}
		}
	}
	&__img {
		width: 100%;
		max-width: 1007px;
		height: 876px;
		margin: 0 auto;
		position: relative;
		&_imac {
			height: 100%;
			background: url(../img/general/imac.png) no-repeat;
			display: block;
			position: relative;
			background-size: contain;
		}
		&_iphone {
			height: 100%;
			background: url(../img/general/iphone.png) no-repeat;
			display: block;
			position: relative;
		}
	}
	
	&__iphone_position {
		position: absolute;
		bottom: 23px;
		left: -70px;
		width: 184px;
		height: 390px;
	}
	
	.slick-dots {
		top: -100px;
		bottom: inherit;
		li {
			background: transparent;
			border-radius: 50%;
			border: 1px solid $bgDots;
			&.slick-active {
				background: $bgDots;
			}
			button:before {
				opacity: 0;
			}
		}
	}
	
	&__link {
		color: $colorLinkGrey;
		border-color: $bgBorderLinkGrey;
	}
}