.header,
.header__v2 {
	position: fixed;
	top: 0;
	height: 110px;
	z-index: 99;
	width: 100%;
	padding: 32px 0 45px;
	&.fixed {
		background: $bgHeader;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
	}
	&__btn-menu {
		display: none;
		@include sprite($s-header_menu);
	}
}