.services {
	padding: 91px 0 0;
	&__title {
		color: $colorTitleDark;
	}
	&__content {
		display: flex;
	}
	&__block {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		width: 640px;
		height: 440px;
		position: relative;
		float: left;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 20px;
			height: 20px;
		}
		&_text {
			width: 50%;
			padding: 109px 20px;
		}
		&_title {
			display: block;
			color: $colorTitleWhite;
			&:after {
				background: $bgTitleLineWhite;
			}
		}
		&_descr {
			display: none;
			text-align: center;
		}
	}
	
	&__icon {
		width: 50%;
		background: $bgServicesMain;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&_mobile {
			&:after {
				@include sprite($s-services_mobile);
			}
		}
		&_web {
			&:after {
				@include sprite($s-services_web);
			}
		}
		&_identity {
			&:after {
				@include sprite($s-services_identity);
			}
		}
		&_brand {
			&:after {
				@include sprite($s-services_brand);
			}
		}
		&_graphic {
			&:after {
				@include sprite($s-services_graphic);
			}
		}
		&_motion {
			&:after {
				@include sprite($s-services_motion);
			}
		}
	}
}
.services {
	&__block {
		&_text {
			&_mobile {
				background: $bgMobile;
			}
			&_web {
				background: $bgWeb;
			}
			&_identity {
				background: $bgIdentity;
			}
			&_brand {
				background: $bgBrand;
			}
			&_graphic {
				background: $bgGraphic;
			}
			&_motion {
				background: $bgMotion;
			}
		}
	}
}
.services {
	&__block {
		&_mobile {
			&:after {
				background: $bgMobile;
			}
		}
		&_web {
			&:after {
				background: $bgWeb;
			}
		}
		&_identity {
			&:after {
				background: $bgIdentity;
			}
		}
		&_brand {
			&:after {
				background: $bgBrand;
			}
		}
		&_graphic {
			&:after {
				background: $bgGraphic;
			}
		}
		&_motion {
			&:after {
				background: $bgMotion;
			}
		}
	}
}

.services {
	&__block {
		&.active {
			.services {
				&__block {
					&_title {
						display: none;
					}
					&_descr {
						display: block;
						&_mobile {
							color: $bgMobile;
						}
						&_web {
							color: $bgWeb;
						}
						&_identity {
							color: $bgIdentity;
						}
						&_brand {
							color: $bgBrand;
						}
						&_graphic {
							color: $bgGraphic;
						}
						&_motion {
							color: $bgMotion;
						}
					}
				}
			}
		}
		&_mobile {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgMobile;
						&_mobile {
							&:after {
								@include sprite($s-services_mobile_white);
							}
						}
					}
				}
			}
		}
		&_web {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgWeb;
						&_web {
							&:after {
								@include sprite($s-services_web_white);
							}
						}
					}
				}
			}
		}
		&_identity {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgIdentity;
						&_identity {
							&:after {
								@include sprite($s-services_identity_white);
							}
						}
					}
				}
			}
		}
		&_brand {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgBrand;
						&_brand {
							&:after {
								@include sprite($s-services_brand_white);
							}
						}
					}
				}
			}
		}
		&_graphic {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgGraphic;
						&_graphic {
							&:after {
								@include sprite($s-services_graphic_white);
							}
						}
					}
				}
			}
		}
		&_motion {
			&.active {
				.services {
					&__block {
						&_text {
							background: $bgServicesMain;
						}
					}
					&__icon {
						background: $bgMotion;
						&_motion {
							&:after {
								@include sprite($s-services_motion_white);
							}
						}
					}
				}
			}
		}
	}
}